body {
    background-color:lightseagreen;
}
form {
    margin-left: 70px;
    margin-top: 70px;
}
input {
    padding: 10px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    border: 2px solid black;
    color: black;
    font-family: cursive;
    font-weight: bold
}

#inputnumber {
    width: 267px;
    height: 50px;
}

#para {
    margin-left: 80px;
    margin-top: 50px;
    font-family: cursive;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

div {
    border: 2px solid black;
    margin-left: 150px;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color:red;
}