
    body {
        background-color: lightseagreen;
    }
    form {
        margin-left: 45px;
        margin-top: 70px;
    }

    input {
        padding: 10px;
        width: 60px;
        height: 60px;
        font-size: 17px;
        border: 2px solid black;
        color: black;
        font-family: cursive;
        font-weight: bold;
        text-align: center;
    }
    input:hover{
        color: white;
        background:blue;
    }

    #inputnumber {
        width: 420px;
        height: 50px;
        background-color: black;
        color: white;
        font-size: 23px;
    }

    #para {
        margin-top: 50px;
        text-align: center;
        font-family: cursive;
        font-size: 30px;
        text-decoration: underline;
        font-weight: bold;
        color: black;
    }

    div {
        border: 2px solid black;
        margin-left: 150px;
        margin-top: 50px;
        width: 530px;
        height: 580px;
        background-color: red;
    }
